<div class="sf-toolbar-info-piece ">
    <b>Package name</b>
    <span class="sf-toolbar-status">GitHub release</span>
    <span class="sf-toolbar-status">Your version</span>
    <hr>
</div>

{% for key, package in versions %}

    <div class="sf-toolbar-info-piece">
        <b><a target="_blank" href="{{ package.url }}">{{ key|truncate(35) }}</a></b>
        <span class="sf-toolbar-status sf-toolbar-status-{{ package.gitHubVersion == "No release found" ? 'yellow' : 'green' }}">
            {{ package.gitHubVersion|truncate(16) }}
        </span>
        <span class="sf-toolbar-status sf-toolbar-status-{{ package.gitHubVersion != package.yourVersion ? (package.gitHubVersion == "No release found" ? 'yellow' : 'red') :  'green' }}">
            {{ package.yourVersion }}
        </span>
    </div>
{% endfor %}