<div class="sf-toolbar-info-piece">
    <table class="sf-toolbar-ajax-requests">
        <thead>
        <tr>
            <th>Package name</th>
            <th>GitHub release</th>
            <th>Your version</th>
        </tr>
        </thead>
        <tbody class="sf-toolbar-ajax-request-list">
        {% for key, package in versions %}
            <tr class="sf-ajax-request sf-ajax-request-ok">
                <td><a target="_blank" href="{{ package.url }}">{{ key }}</a></td>
                <td>
                    <span class="sf-toolbar-status sf-toolbar-status-{{ package.gitHubVersion == "No release found" ? 'yellow' : 'green' }}">
                      {{ package.gitHubVersion[:16] }}
                    </span>
                </td>
                <td>
                    <span class="sf-toolbar-status sf-toolbar-status-{{ package.gitHubVersion != package.yourVersion ? (package.gitHubVersion == "No release found" ? 'yellow' : 'red') :  'green' }}">
                        {{ package.yourVersion }}
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>